<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="h2-factory" class="org.itstep.dao.connection.H2Factory"/>
    <bean id="postgres-factory" class="org.itstep.dao.connection.PostgresFactory"/>

    <bean id="userDAO" class="org.itstep.dao.UserDAO">
        <property name="connectionFactory" ref="h2-factory"/>
    </bean>
</beans>